<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>index</title>
</head>
<body>
    <button onclick = "location.href = 'https://kauth.kakao.com/oauth/authorize?client_id=c1889aaa44f7ace2b5e149d9e6c1433d&redirect_uri=http://{{ip}}:5000/oauth&response_type=code&scope=talk_message, friends' ">
        로그인 및 약관동의
    </button>
    <br>
    <t1> [금융상품 정보 수신 사전고지] </t1><br>
    로그인/약관 동의 후 친구 추가를 하면 자동으로 생성되는 메시지를 수신 받게 됩니다.<br>
    모든 메시지는 낮에 송신 됩니다. (오전9시~ 오후 4시 30분)<br>
    이후 더이상 본 메시지를 수신 하고 싶지 않으시면 친구를 해제해 주세요.<br>
</body>
</html>